
body,ul,a,th,td {
    text-decoration:none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar{
    background-color: #ce212b;
    padding: 20px;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .itens-topnav{
    text-align: end;
  }


.cia-img{
    max-width: 10%;
}

.toLine{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}


#titulo > ul{
  font-weight: bold;
}

#formFiles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-left: 1%;
}

.thead{
  background-color: #3d78b9;
  padding: 20px;
  text-align: left;
  color: #ffff;
  border-radius: 15px 15px 0px 0px;
}

#tbody{
  text-align: left;
}

.root{
  padding: 20px;
  background-color: #ffff;
}

.root:nth-of-type(even){
  background-color: rgb(244, 247, 248);
}



.n-padding {
  padding-right:0px;
  padding-left: 0px;
}

.root:hover{
  background-color: #ddedff;
}

#etapa{
  display: flex;
  justify-content: space-around;
  column-gap: 90px;
  margin: 0px;
  height: 100%;
  width: 100%;
}


.label_text_{
  color: rgb(91, 91, 91);
  font-size: small;
}


.mainArea{
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.row{
  margin: 0px !important;
}


.center_{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divisor_navbar{
  position: absolute;
  height: 82px;
  top: 0px;
  width: 2px;
  border-radius: 0px 190px 90px 0px;
  background-color: rgba(255, 203, 203, 0.602);
  
}

#etapa_focusArea{
  position: absolute;
  height: 82px;
  top: 0px;
  width: 1300px;
  left: 674px;
  background-color: rgba(0, 0, 0, 0.155);
}